<cdk-accordion class="wrapper">
  <cdk-accordion-item
    *ngFor="let item of items; let index = index"
    #accordionItem="cdkAccordionItem"
    class="wrapper__item"
    role="button"
    tabindex="0"
    [attr.id]="'accordion-header-' + index"
    [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + index"
  >
    <div (click)="accordionItem.toggle()" class="wrapper__item__card">
      {{ item }}
      <span class="card__description">
        Click to {{ accordionItem.expanded ? "close" : "open" }}
      </span>
    </div>
    <div
      class="wrapper__item__body"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + index"
      [attr.aria-labelledby]="'accordion-header-' + index"
    >
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
      excepturi incidunt ipsum deleniti labore, tempore non nam doloribus
      blanditiis veritatis illo autem iure aliquid ullam rem tenetur deserunt
      velit culpa?
    </div>
  </cdk-accordion-item>
</cdk-accordion>
